@model CreateContactDto

<div class="col-lg-7 mb-5">
    <div class="contact-form bg-light p-30">
        <div id="success"></div>
        <form method="post">
            <div class="control-group">
                <input type="text" class="form-control" id="name" placeholder="Adınız Soyadınız"
                       required="required" data-validation-required-message="Lütfen Boş Bırakmayınız" asp-for="NameSurname" />
                <p class="help-block text-danger"></p>
            </div>
            <div class="control-group">
                <input type="email" class="form-control" id="email" placeholder="Email"
                       required="required" data-validation-required-message="Lütfen Boş Bırakmayınız"  asp-for="Email"/>
                <p class="help-block text-danger"></p>
            </div>
            <div class="control-group">
                <input type="text" class="form-control" id="subject" placeholder="Konu Başlığı"
                       required="required" data-validation-required-message="Lütfen Boş Bırakmayınız " asp-for="Subject" />
                <p class="help-block text-danger"></p>
            </div>
            <div class="control-group">
                <textarea class="form-control" rows="8" id="message" placeholder="Mesajınız" asp-for="Message"
                          required="required"
                          data-validation-required-message="Lütfen Boş Bırakmayınız"></textarea>
                <p class="help-block text-danger"></p>
            </div>
            <div>
                <button class="btn btn-primary py-2 px-4" type="submit" id="sendMessageButton">
                    Mesaj
                    Gönderin
                </button>
            </div>
        </form>
    </div>
</div>
