<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Trendshop Kullanıcı Paneli</title>
    <!-- base:css -->
    <link rel="stylesheet" href="~/spica-1.0.0/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/spica-1.0.0/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- inject:css -->
    <link rel="stylesheet" href="~/spica-1.0.0/css/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="~/spica-1.0.0/images/favicon.png" />
    <style>
        .sidebar {
            background-color: #FFD700 !important; /* Sarı */
        }

            .sidebar .nav .nav-item .nav-link,
            .sidebar .sidebar-category p,
            .sidebar .menu-title {
                color: black !important;
            }

            .sidebar .menu-icon {
                color: black !important;
            }

            .sidebar .nav .nav-item:hover .nav-link,
            .sidebar .nav .nav-item.active .nav-link {
                background-color: #fff8dc; /* Hafif sarı hover */
                color: black !important;
            }
    </style>

</head>
