<h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">İş Ortakları</span></h2>
<style>
    .vendor-carousel img {
        width: 400px;
        height: 150px;
        object-fit: contain;
        display: block;
        margin: 0 auto;
    }
</style>

<div class="container-fluid py-5">
    <div class="row px-xl-5">
        <div class="col">
            <div class="owl-carousel vendor-carousel">
                <div class="bg-light p-4">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/2/20/Adidas_Logo.svg" alt="">
                </div>
                <div class="bg-light p-4">
                    <img src="https://www.kuponburada.com/wp-content/uploads/2024/05/boyner-indirim-kodu-logo.png" alt="">
                </div>
                <div class="bg-light p-4">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/f/f0/Media_Markt_logo.svg" alt="">
                </div>
                <div class="bg-light p-4">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c5/Ikea_logo.svg/640px-Ikea_logo.svg.png" alt="">
                </div>
                <div class="bg-light p-4">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ6_m0wh2k74ZBGgpkXB_mhq67c_Qok8UhHFQ&s" alt="">
                </div>
                <div class="bg-light p-4">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/a/a6/Logo_NIKE.svg" alt="">
                </div>
                <div class="bg-light p-4">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/0/08/Kartal_Yuvas%C4%B1_Logosu.png" alt="">
                </div>
                <div class="bg-light p-4">
                    <img src="https://files.sikayetvar.com/lg/cmp/35/355.png?1625489820" alt="">
                </div>
            </div>
        </div>
    </div>
</div>