<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item sidebar-category">
            <p>Trenshop Kullanıcı Paneli</p>
            <span></span>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="../../index.html">
                <i class="mdi mdi-view-quilt menu-icon"></i>
                <span class="menu-title">Dashboard</span>
                <div class="badge badge-info badge-pill">2</div>
            </a>
        </li>
        <li class="nav-item sidebar-category">
            <p>Menüler</p>
            <span></span>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="../../pages/forms/basic_elements.html">
                <i class="mdi mdi-view-headline menu-icon"></i>
                <span class="menu-title">Dashboard</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="../../pages/charts/chartjs.html">
                <i class="mdi mdi-chart-pie menu-icon"></i>
                <span class="menu-title">Siparişlerim</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="../../pages/tables/basic-table.html">
                <i class="mdi mdi-grid-large menu-icon"></i>
                <span class="menu-title">Geçmiş Siparişlerim</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="../../pages/icons/mdi.html">
                <i class="mdi mdi-emoticon menu-icon"></i>
                <span class="menu-title">Kargolarım</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="../../pages/icons/mdi.html">
                <i class="mdi mdi-emoticon menu-icon"></i>
                <span class="menu-title">Profil Bilgilerim</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="../../pages/icons/mdi.html">
                <i class="mdi mdi-emoticon menu-icon"></i>
                <span class="menu-title">Mesajlar</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="../../pages/icons/mdi.html">
                <i class="mdi mdi-emoticon menu-icon"></i>
                <span class="menu-title">Çıkış Yap</span>
            </a>
        </li>
    </ul>
</nav>