@model CreateRegisterDto
@{
	Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Trendshop - Kayıt Ol</title>
	<!-- base:css -->
	<link rel="stylesheet" href="~/spica-1.0.0/vendors/mdi/css/materialdesignicons.min.css">
	<link rel="stylesheet" href="~/spica-1.0.0/vendors/css/vendor.bundle.base.css">
	<!-- endinject -->
	<!-- inject:css -->
	<link rel="stylesheet" href="~/spica-1.0.0/css/style.css">
	<!-- endinject -->
	<link rel="shortcut icon" href="~/spica-1.0.0/images/favicon.png" />
</head>
<body>
	<div class="container-scroller d-flex">
		<div class="container-fluid page-body-wrapper full-page-wrapper d-flex">
			<div class="content-wrapper d-flex align-items-center auth px-0">
				<div class="row w-100 mx-0">
					<div class="col-lg-4 mx-auto">
						<div class="auth-form-light text-left py-5 px-4 px-sm-5">
							<div class="brand-logo">
								<img src="~/images//spica-1.0.0" alt="logo">
							</div>
							<h4>Yeni misin?</h4>
							<h6 class="font-weight-light">Hemen kaydol, alışverişe başla.</h6>
							<form asp-action="Index" method="post" class="pt-3">
								<div class="form-group">
									<input asp-for="Name" class="form-control form-control-lg" placeholder="Adınız">
								</div>
								<div class="form-group">
									<input asp-for="Surname" class="form-control form-control-lg" placeholder="Soyadınız">
								</div>
								<div class="form-group">
									<input asp-for="UserName" class="form-control form-control-lg" placeholder="Kullanıcı Adınız">
								</div>
								<div class="form-group">
									<input asp-for="Email" class="form-control form-control-lg" placeholder="Email">
								</div>
								<div class="form-group">
									<input asp-for="Password" type="password" class="form-control form-control-lg" placeholder="Şifre">
								</div>
								<div class="form-group">
									<input asp-for="ConfirmPassword" type="password" class="form-control form-control-lg" placeholder="Şifre Tekrar">
								</div>
								<div class="mb-4">
									<div class="form-check">
										<label class="form-check-label text-muted">
											<input type="checkbox" class="form-check-input"> Tüm şartları kabul ediyorum.
										</label>
									</div>
								</div>
								<div class="mt-3">
									<button type="submit" class="btn btn-block btn-warning btn-lg font-weight-medium auth-form-btn">KAYIT OL</button>
								</div>
								<div class="text-center mt-4 font-weight-light">
									Zaten hesabın var mı? <a href="/Login/Index" class="text-primary">Giriş Yap</a>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
			<!-- content-wrapper ends -->
		</div>
		<!-- page-body-wrapper ends -->
	</div>
	<!-- container-scroller -->
	<!-- base:js -->
	<script src="~/spica-1.0.0/vendors/js/vendor.bundle.base.js"></script>
	<!-- inject:js -->
	<script src="~/spica-1.0.0/js/off-canvas.js"></script>
	<script src="~/spica-1.0.0/js/hoverable-collapse.js"></script>
	<script src="~/spica-1.0.0/js/template.js"></script>
	<script>
				$.validator.addMethod("strongPassword", function (value, element) {
			return this.optional(element)
				|| /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[\W_]).{8,}$/.test(value);
		}, "Şifreniz en az 1 büyük harf, 1 küçük harf, 1 rakam, 1 özel karakter içermeli ve en az 8 karakter olmalı.");

		$("#myform").validate({
			rules: {
				password: {
					required: true,
					strongPassword: true
				},
				comfirm_password: {
					required: true,
					equalTo: "#password"
				}
			},
			messages: {
				password: {
					required: "Lütfen bir şifre girin.",
					strongPassword: "Zayıf şifre. Lütfen kurallara uygun bir şifre girin."
				},
				comfirm_password: {
					required: "Lütfen şifrenizi tekrar girin.",
					equalTo: "Şifreler uyuşmuyor."
				}
			}
		});

		// just for the demos, avoids form submit
		jQuery.validator.setDefaults({
		  	debug: true,
		  	success:  function(label){
        		label.attr('id', 'valid');
   		 	},
		});
		$( "#myform" ).validate({
		  	rules: {
			    password: "required",
		    	comfirm_password: {
		      		equalTo: "#password"
		    	}
		  	},
		  	messages: {
		  		first_name: {
		  			required: "Please enter a firstname"
		  		},
		  		last_name: {
		  			required: "Please enter a lastname"
		  		},
		  		your_email: {
		  			required: "Please provide an email"
		  		},
		  		password: {
	  				required: "Please enter a password"
		  		},
		  		comfirm_password: {
		  			required: "Please enter a password",
		      		equalTo: "Wrong Password"
		    	}
		  	}
		});
	</script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>

