<div class="col-lg-4">
    <div class="product-offer mb-30" style="height: 200px;">
        <img class="img-fluid" src="https://blog.vancity.com/wp-content/uploads/2017/05/SaleSigns-iStock-Blog-1000x484.jpg" alt="">
        <div class="offer-text">
            <h6 class="text-white text-uppercase">%20 İndirim </h6>
            <h3 class="text-white mb-3">Özel Teklifler</h3>
            <a href="" class="btn " style="background-color: #FF5722; color: white; " >Alışverişe Başlayın</a>
        </div>
    </div>
    <div class="product-offer mb-30" style="height: 200px;">
        <img class="img-fluid" src="https://haus-wintersteller.eugendorf.com/wp-content/uploads/2020/09/shopping-in-eugendorf-iStock-1148925683.jpg" alt="">
        <div class="offer-text">
            <h6 class="text-white text-uppercase">%30 İndirim</h6>
            <h3 class="text-white mb-3">Günün Fırsatı</h3>
            <a href="" class="btn "style="background-color: #FF5722; color: white; ">Hemen Yararlanın</a>
        </div>
    </div>
</div>